[Unit]
Description=Plant Listener service
After=network.target

[Service]
WorkingDirectory=/
ExecStart=/usr/bin/plant_listener -c /etc/plant_listener.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
